@page "/registro"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject AgregarUsuarioUseCase AgregarUsuarioUseCase

<PageTitle>Registro</PageTitle>

<div class="centrar">
    <div class="cuadro">
        <h2>Registrarse</h2>

        @if (!string.IsNullOrEmpty (Error)){
            <div class=" alert alert -danger">@Error</div>
        }


        <EditForm Model="@_usuario" OnValidSubmit="CrearCuenta">

    <input class="form-control mb-2"placeholder="Nombre completo"@bind="_usuario.Nombre" />

    <input class="form-control mb-2"placeholder="Apellido completo" @bind="_usuario.Apellido" />

    <input class="form-control mb-2"placeholder="Correo electrónico"@bind="_usuario.Email" />

    <input type="password"class="form-control mb-2"placeholder="Contraseña"@bind="_usuario.Contraseña" />

    <button class="btn btn-primary" type="submit">Crear Cuenta</button>
    </EditForm> 
    </div>
</div>


@code{
    Usuario _usuario = new Usuario ();
    private string? Error;
    void CrearCuenta()
    {
        try{
        AgregarUsuarioUseCase.Ejecutar(_usuario);
        Navegador.NavigateTo("/");
        }
        catch (ValidacionException e){
           Error = e.Message; 
        }

    }
}




